@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  scroll-behavior: smooth;
}

.sub-heading-div {
  @apply border rounded-2xl p-4;
  background-color: rgba(255, 255, 255, 0.03);
}

.dark .sub-heading-div {
  border-color: rgba(255, 255, 255, 0.06);
}

.sub-heading {
  @apply relative text-xl text-zinc-900 dark:text-zinc-300 font-semibold;
}

.sub-heading::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 3rem;
  height: 2px;
  background: #8b5cf6;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
}

.hire-badge {
  @apply text-[7px] md:text-[9px] font-normal tracking-widest text-white;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
